.glitch {
  position: relative;
  /* animation: glitchText 3s infinite linear; */
}

.glitch::before,
.glitch::after {
  display: none;
  color: var(--martixGreen);
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--darkGray);
  overflow: hidden;
  top: 0;
}

.glitch:before {
  left: 3px;
  text-shadow: -2px;
  animation: glitch1 4s infinite reverse;
}

.glitch:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch2 4s linear infinite reverse;
}

.glitch.glitch_default::before,
.glitch.glitch_default::after {
  display: block;
}

.glitch.glitch_hover:hover::before,
.glitch.glitch_hover:hover::after {
  display: block;
}

/* @keyframes glitchText {
  0% {
    text-shadow: 0.4389924193300864px 0 1px var(--text-shadow-color-1),
      -0.4389924193300864px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px var(--text-shadow-color-1),
      -2.7928974010788217px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px var(--text-shadow-color-1),
      -0.02956275843481219px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px var(--text-shadow-color-1),
      -0.40218538552878136px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px var(--text-shadow-color-1),
      -3.4794037899852017px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px var(--text-shadow-color-1),
      -1.6125630401149584px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px var(--text-shadow-color-1),
      -0.7015590085143956px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px var(--text-shadow-color-1),
      -3.896914047650351px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px var(--text-shadow-color-1),
      -3.870905614848819px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px var(--text-shadow-color-1),
      -2.231056963361899px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px var(--text-shadow-color-1),
      -0.08084290417898504px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px var(--text-shadow-color-1),
      -2.3758461067427543px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px var(--text-shadow-color-1),
      -2.202193051050636px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px var(--text-shadow-color-1),
      -2.8638780614874975px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px var(--text-shadow-color-1),
      -0.48874025155497314px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px var(--text-shadow-color-1),
      -1.8948491305757957px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px var(--text-shadow-color-1),
      -0.0833037308038857px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px var(--text-shadow-color-1),
      -0.09769827255241735px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px var(--text-shadow-color-1),
      -3.443339761481782px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px var(--text-shadow-color-1),
      -2.1841838852799786px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px var(--text-shadow-color-1),
      -2.6208764473832513px 0 1px var(--text-shadow-color-2), 0 0 3px;
  }
} */

@keyframes glitch1 {
  0% {
    clip: rect(132px, auto, 101px, 0px);
  }
  5% {
    clip: rect(17px, auto, 94px, 0px);
  }
  10% {
    clip: rect(40px, auto, 66px, 0px);
  }
  15% {
    clip: rect(87px, auto, 82px, 0px);
  }
  20% {
    clip: rect(137px, auto, 61px, 0px);
  }
  25% {
    clip: rect(34px, auto, 14px, 0px);
  }
  30% {
    clip: rect(133px, auto, 74px, 0px);
  }
  35% {
    clip: rect(76px, auto, 107px, 0px);
  }
  40% {
    clip: rect(59px, auto, 10px, 0px);
  }
  45% {
    clip: rect(29px, auto, 84px, 0px);
  }
  50% {
    clip: rect(22px, auto, 67px, 0px);
  }
  55% {
    clip: rect(67px, auto, 62px, 0px);
  }
  60% {
    clip: rect(10px, auto, 105px, 0px);
  }
  65% {
    clip: rect(78px, auto, 115px, 0px);
  }
  70% {
    clip: rect(105px, auto, 13px, 0px);
  }
  75% {
    clip: rect(15px, auto, 75px, 0px);
  }
  80% {
    clip: rect(66px, auto, 39px, 0px);
  }
  85% {
    clip: rect(133px, auto, 73px, 0px);
  }
  90% {
    clip: rect(36px, auto, 128px, 0px);
  }
  95% {
    clip: rect(68px, auto, 103px, 0px);
  }
  100% {
    clip: rect(14px, auto, 100px, 0px);
  }
}

@keyframes glitch2 {
  0% {
    clip: rect(129px, auto, 36px, 0px);
  }
  5% {
    clip: rect(36px, auto, 4px, 0px);
  }
  10% {
    clip: rect(85px, auto, 66px, 0px);
  }
  15% {
    clip: rect(91px, auto, 91px, 0px);
  }
  20% {
    clip: rect(148px, auto, 138px, 0px);
  }
  25% {
    clip: rect(38px, auto, 122px, 0px);
  }
  30% {
    clip: rect(69px, auto, 54px, 0px);
  }
  35% {
    clip: rect(98px, auto, 71px, 0px);
  }
  40% {
    clip: rect(146px, auto, 34px, 0px);
  }
  45% {
    clip: rect(134px, auto, 43px, 0px);
  }
  50% {
    clip: rect(102px, auto, 80px, 0px);
  }
  55% {
    clip: rect(119px, auto, 44px, 0px);
  }
  60% {
    clip: rect(106px, auto, 99px, 0px);
  }
  65% {
    clip: rect(141px, auto, 74px, 0px);
  }
  70% {
    clip: rect(20px, auto, 78px, 0px);
  }
  75% {
    clip: rect(133px, auto, 79px, 0px);
  }
  80% {
    clip: rect(78px, auto, 52px, 0px);
  }
  85% {
    clip: rect(35px, auto, 39px, 0px);
  }
  90% {
    clip: rect(67px, auto, 70px, 0px);
  }
  95% {
    clip: rect(71px, auto, 103px, 0px);
  }
  100% {
    clip: rect(83px, auto, 40px, 0px);
  }
}
