.ProjectsBlock_wrapper {
  margin-top: 100px;
}

.ProjectsBlock_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ProjectsBlock_header_text {
  margin: 0px;

  font-family: "Zilla Slab", serif;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 3px;

  color: #1cd119;
}

.ProjectsBlock_header_logoImg {
  width: 36px;
  height: 32px;
  margin: 8px 0px 0px 8px;
}

.ProjectsBlock_text {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-size: 18px;

  color: #fff;
}

.ProjectsBlock_content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.ProjectsBlock_conteiner {
  margin: 0 auto;
  position: relative;
  order: 1;
}

.ProjectsBlock_conteiner_PCImg {
  position: relative;
}

.ProjectsBlock_conteiner_PC {
  position: relative;
}

.ProjectsBlock_conteiner_projectImgs {
  position: absolute;
  margin-top: 18px;
  margin-left: 35px;
  z-index: 2;
}

.ProjectsBlock_conteiner_projectPic {
  border-radius: 23px;
}

.ProjectsBlock_content_textBlock {
  order: 2;
  width: 80%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.ProjectsBlock_content_text {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  color: #fff;
  background: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0 0 10px 2px #1cd119;
  border-radius: 10px;
}

.ProjectsBlock_pagButton {
  margin: 0 auto;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background: #1cd119;
  color: #0a0a0a;
  border: 1px solid #1cd119;
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 5px;
}

.ProjectsBlock_pagButton:hover {
  background: #0a0a0a;
  color: #1cd119;
  border: 1px solid #1cd119;
  text-shadow: 0 0 5px #1cd119;
}

.ProjectsBlock_pagButton:active {
  background: #1cd119;
  color: #0a0a0a;
  border: 1px solid #1cd119;
  text-shadow: 0 0 5px #1cd119;
  transition: 0.1s;
}

@media (min-width: 650px) {
  .ProjectsBlock_wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .ProjectsBlock_header_text {
    font-size: 50px;
  }

  .ProjectsBlock_text {
    margin-top: 30px;
    font-size: 25px;
    width: 500px;
    height: 50px;
  }

  .ProjectsBlock_header_logoImg {
    width: 45px;
    height: 45px;
  }

  .ProjectsBlock_conteiner_projectImgs {
    margin-top: 35px;
    margin-left: 65px;
  }

  .ProjectsBlock_conteiner_projectPic {
    border-radius: 37px;
  }

  .ProjectsBlock_content_text {
    font-size: 25px;
  }

  .ProjectsBlock_pagButton {
    width: 180px;
    height: 60px;
    font-size: 23px;
    margin-top: 30px;
  }
}

@media (min-width: 1280px) {
  .ProjectsBlock_wrapper {
    margin-top: 200px;
  }

  .ProjectsBlock_header_text {
    font-size: 60px;
  }

  .ProjectsBlock_text {
    font-size: 35px;
    line-height: 51px;
    width: 50%;
    margin-top: 100px;
  }

  .ProjectsBlock_slides {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .ProjectsBlock_content {
    flex-direction: row;
  }

  .ProjectsBlock_conteiner_projectImgs {
    margin-top: 50px;
    margin-left: 100px;
  }

  .ProjectsBlock_conteiner_projectPic {
    border-radius: 62px;
  }

  .ProjectsBlock_content_textBlock {
    margin-top: 70px;
    order: 1;
  }

  .ProjectsBlock_content_text {
    font-size: 35px;
  }

  .ProjectsBlock_pagButton {
    width: 200px;
    height: 70px;
    font-size: 30px;
    margin-top: 60px;
  }
}
