.ProjectsBlock_header {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ProjectsBlock_header_text {
  margin: 0px;

  font-family: "Zilla Slab", serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 37px;
  letter-spacing: 4px;

  color: #1cd119;
}

.ProjectsBlock_header_logoImg {
  width: 36px;
  height: 32px;
  margin: 8px 0px 0px 8px;
}

.ProjectsBlock_text {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;

  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #fff;
}

.ProjectsBlock_containers {
  width: 273px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 3px 0px 3px 0px;

  background: linear-gradient(302.35deg, #1cd119 4.37%, #1cc70d 95.31%);
}

.ProjectsBlock_containers_content {
  margin: 0 auto;
  width: 263px;
  background-color: #242222;
}

.ProjectsBlock_containers_img {
  width: 263px;
  height: 160px;
}

.ProjectsBlock_containers_text {
  width: 252px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;

  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}

.ProjectsBlock_containers_footer {
  margin-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
}

.ProjectsBlock_containers_footer_img {
  width: 25px;
  height: 21px;
  margin-top: 2px;
}

.ProjectsBlock_containers_footer_text {
  margin: 0px 0px 0px 7px;
  width: 50%;

  font-family: "Zilla Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #1cd119;
}

.ProjectsBlock_content {
  display: flex;
  flex-direction: column;
}

.ProjectsBlock_conteiner {
  margin: 0 auto;
  position: relative;
  order: 1;
}

.ProjectsBlock_conteiner_PCImg {
  position: relative;
}

.ProjectsBlock_conteiner_PC {
  position: relative;
}

.ProjectsBlock_conteiner_projectImgs {
  position: absolute;
  margin-top: 18px;
  margin-left: 35px;
  z-index: 2;
}

.ProjectsBlock_conteiner_projectPic {
  border-radius: 23px;
}

.ProjectsBlock_content_textBlock {
  order: 2;
  width: 80%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.ProjectsBlock_content_text {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  color: #fff;
  background: #242222;
  box-shadow: 0 0 0 2px #1cd119;
}

.ProjectsBlock_pagButton {
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background: #1cd119;
  color: #242222;
  border: 1px solid #1cd119;
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 5px;
}

.ProjectsBlock_pagButton:hover {
  background: #242222;
  color: #1cd119;
  border: 1px solid #1cd119;
}

.ProjectsBlock_pagButton:active {
  background: #1cd119;
  color: #242222;
  border: 1px solid #1cd119;
  transition: 0.1s;
}

@media (min-width: 650px) {
  .ProjectsBlock_wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
  }

  .ProjectsBlock_header_text {
    font-size: 50px;
  }

  .ProjectsBlock_text {
    margin-top: 30px;
    font-size: 25px;
    width: 500px;
    height: 50px;
  }

  .ProjectsBlock_header_logoImg {
    width: 45px;
    height: 45px;
  }

  .ProjectsBlock_containers {
    width: 391px;
    height: 550px;
  }

  .ProjectsBlock_containers_content {
    width: 97%;
    height: 100%;
  }

  .ProjectsBlock_containers_img {
    width: 377px;
    height: 230px;
  }

  .ProjectsBlock_containers_text {
    height: 45%;
    width: 85%;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 44px;
  }

  .ProjectsBlock_containers_footer {
    align-items: center;
    margin-top: 15px;
  }

  .ProjectsBlock_containers_footer_text {
    font-size: 30px;
    line-height: 44px;
  }

  .ProjectsBlock_containers_footer_img {
    width: 35px;
    height: 35px;
  }

  .ProjectsBlock_conteiner_projectImgs {
    margin-top: 35px;
    margin-left: 65px;
  }

  .ProjectsBlock_conteiner_projectPic {
    border-radius: 37px;
  }

  .ProjectsBlock_content_text {
    font-size: 25px;
  }

  .ProjectsBlock_pagButton {
    width: 180px;
    height: 60px;
    font-size: 23px;
  }
}

@media (min-width: 1280px) {
  .ProjectsBlock_wrapper {
    margin-top: 300px;
  }

  .ProjectsBlock_header_text {
    font-size: 60px;
  }

  .ProjectsBlock_text {
    font-size: 35px;
    line-height: 51px;
    width: 50%;
    margin-top: 100px;
  }

  .ProjectsBlock_slides {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .ProjectsBlock_content {
    flex-direction: row;
  }

  .ProjectsBlock_conteiner_projectImgs {
    margin-top: 50px;
    margin-left: 100px;
  }

  .ProjectsBlock_conteiner_projectPic {
    border-radius: 62px;
  }

  .ProjectsBlock_content_textBlock {
    margin-top: 70px;
    order: 1;
  }

  .ProjectsBlock_content_text {
    font-size: 35px;
  }

  .ProjectsBlock_pagButton {
    width: 200px;
    height: 70px;
    font-size: 30px;
    margin-top: 60px;
  }
}
