.description-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
  padding: 50px 0 100px 0;
}

.description-block__header {
  color: #1cd119;
  font-size: 20px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-block__header-text {
  margin: 0;
}

.description-block__header-logo {
  width: 35px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.description-block__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-block__foto-with-hover {
  order: 2;
  margin: 40px;
  position: relative;
  border-radius: 15px;
  transition: 0.5s;
  width: 60%;
  max-width: 300px;
  overflow: hidden;
}

.description-block__foto-pic {
  position: relative;
  border-radius: 15px;
  top: 2px;
}

.description-block__myfoto {
  width: 100%;
  border-radius: 15px;
  position: relative;
  transition: 0.5s;
}

.description-block__hover {
  background: #1cd119;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.45;
  border-radius: 15px;
  transition: 0.5s;
}

.description-block__hover:hover {
  opacity: 0;
}

.description-block__content-part {
  order: 1;
  margin-top: 20px;
}

.description-block__text {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  color: var(--white);
}

.description-block__link {
  color: #1cd119;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.description-block__hello-button {
  width: 140px;
  height: 55px;
  margin-top: 30px;

  background: var(--darkGray);
  color: var(--matrixGreen);
  text-shadow: 0 0 5px var(--matrixGreen);
  box-shadow: 0 0 5px 1px var(--matrixGreen);
  border: 2px solid var(--matrixGreen);
  border-radius: 5px;
  cursor: pointer;

  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: 0.5s;
}

.description-block__hello-button:hover {
  color: #0a0a0a;
  background: #1cd119;
  border: 2px solid #1cd119;
  box-shadow: none;
  text-shadow: 0 0 5px var(--matrixGreen);
}

.DescriptionBlock__helloButton:active {
  color: #1cd119;
  background: #0a0a0a;
  transition: 0.1s;
}

@media (min-width: 650px) {
  .description-block__header {
    color: #1cd119;
    font-size: 30px;
  }

  .description-block__header-logo {
    width: 50px;
    height: 50px;
  }

  .description-block__foto-with-hover {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 400px;
    order: 2;
  }

  .description-block__content-part {
    order: 1;
  }

  .description-block__text {
    font-size: 22px;
  }

  .description-block__hello-button {
    font-size: 25px;
    line-height: 51px;

    width: 180px;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .description-block {
    margin: 0 auto;
    flex-direction: column;
    padding: 100px 0;
  }

  .description-block__header-text {
    font-size: 50px;
  }

  .description-block__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
  }

  .description-block__content-part {
    order: 1;
    width: 55%;
    padding-left: 50px;
    margin-top: 0px;
  }

  .description-block__foto-with-hover {
    order: 2;
    margin: 0 auto;
    margin: 33px 40px 20px;
    max-width: 400px;
    width: 40%;
  }

  .description-block__foto-with-hover:hover .description-block__myfoto {
    transform: scale(1.15);
  }

  .description-block__text {
    margin-top: 30px;
    text-align: start;
    width: 100%;
    max-width: 750px;
    font-size: 20px;
    line-height: 150%;
  }

  .description-block__hello-button {
    margin-top: 50px;
    box-shadow: 0 0 10px 2px var(--matrixGreen);
    padding: 0 0 3px 0;

    font-size: 30px;

    width: 200px;
    height: 80px;
  }
}

@media (min-width: 1280px) {
  .description-block {
    max-width: 1260px;
  }

  .description-block__text {
    margin-top: 35px;
    font-size: 22px;
    line-height: 157%;
  }

  .description-block__foto-with-hover {
    max-width: 450px;
  }

  .description-block__hello-button {
    font-size: 35px;
    width: 230px;
    height: 85px;
  }
}
