.DescriptionBlock_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Zilla Slab", serif;
  overflow-x: hidden;
  padding: 50px 0;
}

.DescriptionBlock_header {
  color: #1cd119;
  font-size: 20px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
}

.DescriptionBlock_header_text {
  margin: 0;
}

.DescriptionBlock_header_logo {
  width: 35px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.DescriptionBlock_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionBlock_fotoWithHover {
  order: 2;
  margin: 40px;
  position: relative;
  outline: 2px solid #1cd119;
  outline-offset: 10px;
  border-radius: 15px;
  transition: 0.5s;
  width: 60%;
  max-width: 300px;
}

.DescriptionBlock_fotoWithHover:hover {
  outline-offset: -15px;
}

.DescriptionBlock_foto {
  position: relative;
  top: 2px;
}

.DescriptionBlock_myFoto {
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.DescriptionBlock_hover {
  background: #1cd119;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.45;
  border-radius: 15px;
  transition: 0.5s;
}

.DescriptionBlock_hover:hover {
  opacity: 0;
}

.DescriptionBlock_contentPart {
  order: 1;
  margin-top: 20px;
}

.DescriptionBlock_text {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  color: #fff;
}

.DescriptionBlock_link {
  color: #1cd119;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.DescriptionBlock_helloButton {
  width: 120px;
  height: 50px;
  margin-top: 30px;

  background: #0a0a0a;
  color: #1cd119;
  text-shadow: 0 0 5px #1cd119;
  box-shadow: 0 0 5px 1px #1cd119;
  border: 2px solid #1cd119;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 18px;
  transition: 0.5s;
}

.DescriptionBlock_helloButton:hover {
  color: #0a0a0a;
  background: #1cd119;
  border: 2px solid #1cd119;
  box-shadow: none;
  text-shadow: 0 0 5px #1cd119;
}

.DescriptionBlock_helloButton:active {
  color: #1cd119;
  background: #0a0a0a;
  transition: 0.1s;
}

@media (min-width: 650px) {
  .DescriptionBlock_header {
    color: #1cd119;
    font-size: 30px;
  }

  .DescriptionBlock_header_logo {
    width: 50px;
    height: 50px;
  }

  .DescriptionBlock_fotoWithHover {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 400px;
    order: 2;
  }

  .DescriptionBlock_contentPart {
    order: 1;
  }

  .DescriptionBlock_text {
    font-size: 22px;
  }

  .DescriptionBlock_helloButton {
    font-size: 25px;
    line-height: 51px;

    width: 180px;
    height: 70px;
  }
}

@media (min-width: 1280px) {
  .DescriptionBlock_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: column;
    padding: 100px 0;
  }

  .DescriptionBlock_header_text {
    font-size: 50px;
  }

  .DescriptionBlock_header_logo {
    margin-top: 6px;
  }

  .DescriptionBlock_description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
  }

  .DescriptionBlock_contentPart {
    order: 1;
    width: 55%;
    padding-left: 50px;
    margin-top: 0px;
  }

  .DescriptionBlock_fotoWithHover {
    order: 2;
    margin: 0 auto;
    max-width: 450px;
    width: 40%;
    margin: 20px 40px 20px;
  }

  .DescriptionBlock_text {
    margin-top: 35px;
    text-align: start;
    width: 100%;
    max-width: 750px;
    font-size: 22px;
    line-height: 150%;
  }

  .DescriptionBlock_helloButton {
    margin-top: 50px;
    box-shadow: 0 0 10px 2px #1cd119;

    font-size: 35px;

    width: 220px;
    height: 80px;
  }
}
