.PreloaderHidden {
  transition: 2s;
  opacity: 0;
  top: 100%;
}

.MainpageHidden {
  display: none;
}

.MainPage {
  padding: 0 25px;
}

@media (min-width: 650px) {
  .MainPage {
    padding: 0 50px;
  }
}
