.wrapper {
  transition: 0.2s;
  width: fit-content;
}

.wrapper:hover {
  margin-top: -10px;
}

.logo {
  width: 80px;
  height: 81px;

  @media (min-width: 650px) {
    width: 104px;
    height: 106px;
  }
}

.text {
  font-weight: 900;
  font-size: 20px;
  color: var(--white);
  text-align: center;
  transition: 0.2s;

  @media (min-width: 650px) {
    font-size: 25px;
  }
}

.text.hovered {
  color: var(--matrixGreen);
  text-shadow: 0 0 3px var(--matrixGreen);
}
