.skillsBlock {
  overflow-x: hidden;
  margin: 0 auto;

  @media (min-width: 1024px) {
    width: 95%;
  }
}

.skillsBlock::-webkit-scrollbar {
  display: none;
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font-weight: 900;
  font-size: 25px;
  color: var(--matrixGreen);
}

.headerText {
  margin: 0;
  letter-spacing: 4px;

  @media (min-width: 650px) {
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 55px;
  }
}

.headerLogo {
  width: 35px;

  @media (min-width: 650px) {
    width: 50px;
  }

  @media (min-width: 1024px) {
    margin-top: 4px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 40px;
  }
}

.wrapper {
  margin-top: 40px;

  @media (min-width: 1024px) {
    order: 2;
    width: 50%;
  }
}

.images {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.imgPic {
  margin-top: 20px;
  transition: 0.5s;

  @media (min-width: 1024px) {
    order: 1;
    margin: 0 auto;
  }
}

.img {
  display: block;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: 650px) {
    max-width: 550px;
  }

  @media (min-width: 1024px) {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
}

.imgPic.gifActive {
  opacity: 0;
}

.gif {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 15px;
  border: 2px solid var(--matrixGreen);
  box-shadow: 0 0 5px 1px var(--matrixGreen);
}

.gif.gifActive {
  opacity: 1;
  margin: 0 auto;
}

.logos {
  display: grid;
  column-gap: 60px;
  row-gap: 50px;
  grid-template-columns: auto auto;
  justify-content: center;

  @media (min-width: 650px) {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    row-gap: 30px;
  }

  @media (min-width: 1280px) {
    row-gap: 50px;
  }
}
