.SkillsBlock_wrapper {
  margin-top: 25px;
  overflow-x: hidden;
  padding: 110px 0;
}

.SkillsBlock_header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font-family: "PT Sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #1cd119;
}

.SkillsBlock_header_text {
  margin: 0;
  letter-spacing: 4px;
}

.SkillsBlock_header_logo {
  width: 35px;
}

.SkillsBlock_img {
  width: 70%;
  min-width: 250px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
}

.SkillsBlock_text {
  width: 80%;
  min-width: 293px;
  height: 80px;
  margin: 0 auto;
  margin-top: 45px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.SkillsBlock_logoWrapper {
  margin-top: 20px;
  display: grid;
  column-gap: 60px;
  row-gap: 50px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.SkillsBlock_logoWithText {
  transition: 0.2s;
}

.SkillsBlock_logoWithText:hover {
  margin-top: -10px;
}

.SkillsBlock_logos {
  width: 80px;
  height: 81px;
}

.SkillsBlock_logos_text {
  font-family: "PT Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: 0;
  color: #1cd119;
}

@media (min-width: 650px) {
  .SkillsBlock_header_text {
    font-size: 50px;
  }

  .SkillsBlock_header_logo {
    width: 50px;
  }

  .SkillsBlock_text {
    font-size: 25px;
    line-height: 35px;
  }

  .SkillsBlock_logoWrapper {
    display: grid;
    margin-top: 0px;
    column-gap: 60px;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .SkillsBlock_logos {
    width: 104px;
    height: 106px;
  }

  .SkillsBlock_logos_text {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .SkillsBlock_wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .SkillsBlock_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .SkillsBlock_header_text {
    font-size: 55px;
  }

  .SkillsBlock_header_logo {
    margin-top: 4px;
  }

  .SkillsBlock_skillsAndLogos {
    order: 2;
    width: 50%;
  }

  .SkillsBlock_text {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    height: 100px;
  }

  .SkillsBlock_imgPic {
    order: 1;
    margin: 0 auto;
    margin-top: 20px;
  }

  .SkillsBlock_img {
    width: 100%;
    max-width: 750px;
  }

  .SkillsBlock_logoWrapper {
    row-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .SkillsBlock_wrapper {
    max-width: 1260px;
  }

  .SkillsBlock_text {
    font-size: 35px;
    line-height: 51px;
  }

  .SkillsBlock_logoWrapper {
    margin-top: 20px;
    row-gap: 50px;
  }
}
