.skillsBlock {
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 1024px) {
    width: 95%;
  }
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font-weight: 900;
  font-size: 25px;
  color: var(--matrixGreen);
}

.headerText {
  letter-spacing: 4px;

  @media (min-width: 650px) {
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 55px;
  }
}

.headerLogo {
  width: 35px;

  @media (min-width: 650px) {
    width: 50px;
  }

  @media (min-width: 1024px) {
    margin-top: 4px;
  }
}

.switcher {
  margin: 40px auto;
}

.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: rotateX(90deg) scale(0.1);

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 40px;
  }
}

.content:last-child {
  padding-top: 40px;
}

.active {
  opacity: 1;
  transform: rotateX(0deg) scale(1);
}

.wrapper {
  margin-top: 40px;

  @media (min-width: 1024px) {
    order: 2;
    width: 50%;
  }
}

.softs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  order: 2;
  margin-top: 40px;

  @media (min-width: 1024px) {
    width: 50%;
    margin-top: 0;
    order: 1;
  }
}

.soft {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid var(--matrixGreen);
  border-radius: 5px;
  cursor: pointer;
  background: var(--darkGray);
  transition: 0.2s;

  @media (min-width: 650px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.soft:hover {
  box-shadow: 0 0 10px 1px var(--matrixGreen);
  text-shadow: 0 0 5px var(--matrixGreen);
  color: var(--matrixGreen);
}

.images {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.images:last-child {
  @media (min-width: 1024px) {
    order: 2;
  }
}

.imgPic {
  margin-top: 20px;
  transition: 0.25s;

  @media (min-width: 1024px) {
    order: 1;
    margin: 0 auto;
  }
}

.img {
  display: block;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: 650px) {
    max-width: 550px;
  }

  @media (min-width: 1024px) {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
}

.imgPic.gifActive {
  opacity: 0;
  z-index: 1;
}

.loader {
  display: block;
}

.loader.gifLoaded {
  display: none !important;
}

.loader.gifInactive {
  display: none !important;
}

.gif {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  border-radius: 15px;
  border: 2px solid var(--matrixGreen);
  box-shadow: 0 0 5px 1px var(--matrixGreen);
  z-index: -1;
}

.gif.gifActive {
  opacity: 1;
  margin: 0 auto;
  transform: translate(-50%, -50%) scale(1);
}

.logos {
  display: grid;
  column-gap: 60px;
  row-gap: 50px;
  grid-template-columns: auto auto;
  justify-content: center;

  @media (min-width: 650px) {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    row-gap: 30px;
  }

  @media (min-width: 1280px) {
    row-gap: 50px;
  }
}
