.SkillsBlock_wrapper {
    margin-top: 100px;
}

.SkillsBlock_header {
    width: 65px;
    height: 37px;
    margin: 0 auto;

    font-family: "Be Vietnam Pro";
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    color: #F37A7A;
}

.SkillsBlock_img {
    width: 70%;
    min-width: 250px;
    max-width: 500px;
    min-height: 186px;
    max-height: 370px;
    margin: 0 auto;
    margin-top: 15px;
}

.SkillsBlock_text {
    width: 80%;
    min-width: 293px;
    height: 80px;
    margin: 0 auto;
    margin-top: 45px;

    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #818080;
}

.SkillsBlock_logoWrapper {
    display: flex;
    flex-direction: column;
}

.SkillsBlock_logoWrapperUp{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10px;
}

.SkillsBlock_logoWrapperDown{
    display: flex;
    direction: row;
    margin: 0 auto;
    margin-top: 50px;
}

.SkillsBlock_css {
    width: 118px;
}

.SkillsBlock_js {
    width: 118px;
}

.SkillsBlock_html {
    width: 118px;
}

.SkillsBlock_bootstrap {
    width: 118px;
}

@media (min-width: 1440px) {
    .SkillsBlock_content {
        display: flex;
        flex-direction: row;
    }

    .SkillsBlock_skillsAndLogos{
        order: 1;
        width: 688px;
    }

    .SkillsBlock_text{
        width: 600px;
    }

    .SkillsBlock_img{
        order: 2;
    }

    .SkillsBlock_logoWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .SkillsBlock_logoWrapperDown {
        margin-top: 11px;
    }
}

