.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--darkGray);
  border: 2px solid var(--matrixGreen);
  box-shadow: 0 0 15px 1px var(--matrixGreen);
  transform: scale(0.5);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 650px) {
    width: 500px;
  }

  @media (min-width: 1024px) {
    width: 700px;
  }
}

.content.active {
  transform: scale(1);
}

.text {
  font-family: "PT Sans", sans-serif;
  color: var(--white);
  font-size: 20px;
  width: 90%;
  text-align: center;

  @media (min-width: 650px) {
    font-family: "PT Sans", sans-serif;
    font-size: 25px;
    width: 90%;
  }
}

.links {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: 650px) {
    width: 80%;
  }

  @media (min-width: 1024px) {
    width: 70%;
    height: 50px;
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--matrixGreen);
  background-color: var(--darkGray);
  box-shadow: 0 0 5px 2px var(--matrixGreen);
  text-shadow: 0 0 5px var(--matrixGreen);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;

  @media (min-width: 650px) {
    width: 40%;
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.linkImg {
  width: 20px;
  margin-left: 5px;

  @media (min-width: 650px) {
    width: 25px;
    margin-left: 10px;
  }

  @media (min-width: 1024px) {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}

.link_right:hover,
.link_right:active {
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  text-shadow: none;
  background-color: var(--martixRed);
}

.link_left:hover,
.link_left:active {
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  text-shadow: none;
  background-color: var(--martixBlue);
}

.close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  mask: url(../../assets/svg/close.svg) center no-repeat;
  mask-size: cover;
  background: var(--white);
  right: 10px;
  top: 10px;
  transition: 0.2s;

  @media (min-width: 650px) {
    width: 30px;
    height: 30px;
  }
}

.close:hover {
  background: #1cd119;
}
