.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--darkGray);
  border: 2px solid var(--matrixGreen);
  box-shadow: 0 0 15px 1px var(--matrixGreen);
  transform: scale(0.5);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal__content.active {
  transform: scale(1);
}

.modal__text {
  font-family: "PT Sans", sans-serif;
  color: var(--white);
  font-size: 20px;
  width: 90%;
}

.modal__links-block {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--matrixGreen);
  background-color: var(--darkGray);
  box-shadow: 0 0 5px 2px var(--matrixGreen);
  text-shadow: 0 0 5px var(--matrixGreen);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.modal__link-img {
  width: 20px;
  margin-left: 5px;
}

.modal__link_right:hover,
.modal__link_right:active {
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  text-shadow: none;
  background-color: var(--martixRed);
}

.modal__link_left:hover,
.modal__link_left:active {
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  text-shadow: none;
  background-color: var(--martixBlue);
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  mask: url(./img/close.svg) center no-repeat;
  mask-size: cover;
  background: var(--white);
  right: 10px;
  top: 10px;
  transition: 0.2s;
}

.modal__close-button:hover {
  background: #1cd119;
}

@media (min-width: 650px) {
  .modal__content {
    width: 500px;
  }
  .modal__text {
    font-family: "PT Sans", sans-serif;
    font-size: 25px;
    width: 90%;
  }

  .modal__links-block {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
  }

  .modal__link {
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid var(--matrixGreen);
  }

  .modal__link-img {
    width: 25px;
    margin-left: 10px;
  }

  .modal__close-button {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .modal__content {
    width: 700px;
  }
  .modal__text {
    font-size: 25px;
    width: 90%;
  }

  .modal__links-block {
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
  }

  .modal__link {
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid var(--matrixGreen);
  }

  .modal__link-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
