.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0 0 15px 1px #1cd119;
  transform: scale(0.5);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal__content.active {
  transform: scale(1);
}

.modal__text {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 20px;
  width: 90%;
}

.modal__linksBlock {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #1cd119;
  background-color: #0a0a0a;
  box-shadow: 0 0 5px 2px #1cd119;
  text-shadow: 0 0 5px #1cd119;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.modal__link-img {
  width: 20px;
  margin-left: 5px;
}

.modal__link_right:hover,
.modal__link_right:active {
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 5px 2px #fff;
  text-shadow: none;
  background-color: #e84949;
}

.modal__link_left:hover,
.modal__link_left:active {
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 5px 2px #fff;
  text-shadow: none;
  background-color: #2a7ede;
}

.modal__closeButton {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  mask: url(./img/close.svg) center no-repeat;
  mask-size: cover;
  background: #fff;
  right: 10px;
  top: 10px;
  transition: 0.2s;
}

.modal__closeButton:hover {
  background: #1cd119;
}

@media (min-width: 650px) {
  .modal__content {
    width: 500px;
  }
  .modal__text {
    font-family: "PT Sans", sans-serif;
    font-size: 25px;
    width: 90%;
  }

  .modal__linksBlock {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
  }

  .modal__link {
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #1cd119;
  }

  .modal__link-img {
    width: 25px;
    margin-left: 10px;
  }

  .modal__closeButton {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .modal__content {
    width: 700px;
  }
  .modal__text {
    font-size: 25px;
    width: 90%;
  }

  .modal__linksBlock {
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
  }

  .modal__link {
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #1cd119;
  }

  .modal__link-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
