.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0 0 15px 1px #1cd119;
  transform: scale(0.5);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal_content.active {
  transform: scale(1);
}

.modal_text {
  font-family: "Zilla Slab", serif;
  color: #1cd119;
  font-size: 20px;
  width: 90%;
}

.modal_linksBlock {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-color: #1cd119;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 2px grey;
  font-family: "Zilla Slab", serif;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal_linkImg {
  width: 20px;
  margin-left: 5px;
}

.modal_link_right:hover,
.modal_link_rigth:active {
  background-color: #e84949;
}

.modal_link_left:hover,
.modal_link_left:active {
  background-color: #2a7ede;
}

@media (min-width: 650px) {
  .modal_content {
    width: 500px;
  }
  .modal_text {
    font-family: "Zilla Slab", serif;
    font-size: 25px;
    width: 90%;
  }

  .modal_linksBlock {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
  }

  .modal_link {
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .modal_linkImg {
    width: 25px;
    margin-left: 10px;
  }
}

@media (min-width: 1280px) {
  .modal_content {
    width: 700px;
  }
  .modal_text {
    font-size: 25px;
    width: 90%;
  }

  .modal_linksBlock {
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
  }

  .modal_link {
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .modal_linkImg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
