.ContactmeBlock_wrapper {
    margin-top: 100px;
}

.ContactmeBlock_header {
    width: 142px;
    margin: 0 auto;

    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;

    color: #f37a7a;
}

.ContactmeBlock_img {
    width: 70%;
    min-width: 250px;
    max-width: 500px;
    min-height: 187px;
    max-width: 370px;
    margin-top: 45px;
}

.ContactmeBlock_form{
    display: flex;
    flex-direction: column;
}

.ContactmeBlock_email {
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: 75px;

    width: 60%;
    min-width: 259px;
    max-width: 500px;
    height: 45.7px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    text-decoration: underline;

    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #838383;
}

.ContactmeBlock_message {
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 10px 0px 0px 10px;

    width: 60%;
    min-width: 251px;
    max-width: 500px;
    height: 120.2px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    resize: none;

    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #838383;
}

.ContactmeBlock_button{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 10%;
    min-width: 82px;
    max-width: 120px;
    height: 30.16px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 3px;
    

    background: #6860E2;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    font-family: "Be Vietnam Pro";
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #FFFDFD;
}

@media (min-width: 1440px) {
    .ContactmeBlock_wrapper {
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
    }
    .ContactmeBlock_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }

    .ContactmeBlock_header {
        width: 45%;
        font-size: 40px;
        line-height: 58px;
    }

    .ContactmeBlock_img{
        order: 1;
        width: 600px;
        max-width: 1000px;
        max-height: 1000px;
        margin-top: 0px;
    }

    .ContactmeBlock_form{
        order: 2;
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    .ContactmeBlock_email {
        width: 80%;
        max-width: 1000px;
        height: 20%;
        margin-top: 0px;
        font-size: 30px;
        line-height: 44px;
        padding-top: 25px;
        padding-left: 15px;
    }

    .ContactmeBlock_message {
        width: 80%;
        max-width: 1000px;
        margin-top: 30px;
        height: 55%;
        font-size: 30px;
        line-height: 44px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .ContactmeBlock_button {
        width: 181px;
        max-width: 300px;
        height: 66px;
        max-height: 150px;
        margin-top: 30px;
        padding-top: 7px;
        font-size: 36px;
        line-height: 53px;
    }

    .ContactmeBlock_button_img {
        width: 40px;
        margin-top: 5px;
    }
}