.ContactmeBlock_wrapper {
  margin-top: 50px;
  overflow-x: hidden;
  padding: 50px 0;
}

.ContactmeBlock_header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Zilla Slab", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;

  color: #1cd119;
}

.ContactmeBlock_header_text {
  margin: 0;
  letter-spacing: 4px;
}

.ContactmeBlock_header_logo {
  margin: 3px 0px 0px 5px;
  width: 35px;
}

/* .ContactmeBlock_img {
  width: 70%;
  min-width: 250px;
  max-width: 500px;
  min-height: 187px;
  margin-top: 45px;
} */

.ContactmeBlock_picture {
  width: 250px;
  margin: 0 auto;
}

.ContactmeBlock_img {
  width: 100%;
  margin-top: -20px;
}

.ContactmeBlock_leftpill {
  position: relative;
  width: 40px;
  top: 105px;
  left: -35px;
}

.ContactmeBlock_rightpill {
  position: relative;
  width: 40px;
  top: 105px;
  right: -35px;
}

.ContactmeBlock_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.ContactmeBlock_name,
.ContactmeBlock_email,
.ContactmeBlock_message {
  margin: 0 auto;
  box-sizing: border-box;

  width: 60%;
  min-width: 251px;
  max-width: 500px;

  background: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0px 0px 15px 2px #1cd119;
  border-radius: 8px;

  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #1cd119;
}

.ContactmeBlock_name {
  height: 45px;
  padding-left: 10px;
}

.ContactmeBlock_email {
  height: 45px;
  padding-left: 10px;
  margin-top: 30px;
}

.ContactmeBlock_message {
  resize: none;
  height: 120px;
  padding: 10px 0px 0px 10px;
  margin-top: 30px;
}

.ContactmeBlock_name:focus,
.ContactmeBlock_email:focus,
.ContactmeBlock_message:focus {
  color: #1cd119;
  text-decoration: none;
  outline: 2px solid #1cd119;
}

.ContactmeBlock_button {
  width: 80px;
  height: 35px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;

  color: #1cd119;
  background: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0 0 5px 1px #1cd119;
  text-shadow: 0 0 5px #1cd119;
  cursor: pointer;

  font-family: "Zilla Slab", serif;
  font-weight: 900;
  font-size: 20px;
  transition: 0.5s;
}

.ContactmeBlock_button:hover {
  color: #0a0a0a;
  background: #1cd119;
  border: 2px solid #1cd119;
  box-shadow: none;
}

.ContactmeBlock_button:active {
  color: #1cd119;
  background: #0a0a0a;
  text-shadow: 0 0 5px #1cd119;
  transition: 0.1s;
}

.ContactmeBlock_button.disabled {
  background-color: #22421d;
  border-color: #22421d;
  box-shadow: none;
  text-shadow: none;
  color: #0a0a0a;
  cursor: default;
}

@media (min-width: 650px) {
  .ContactmeBlock_header_text {
    font-size: 50px;
  }

  .ContactmeBlock_header_logo {
    width: 40px;
  }

  .ContactmeBlock_picture {
    width: 450px;
  }

  .ContactmeBlock_img {
    margin-top: -40px;
  }

  .ContactmeBlock_leftpill {
    width: 60px;
    top: 173px;
    left: -75px;
  }

  .ContactmeBlock_rightpill {
    width: 60px;
    top: 173px;
    right: -75px;
  }

  .ContactmeBlock_name {
    font-size: 25px;
    height: 70px;
  }

  .ContactmeBlock_email {
    font-size: 25px;
    height: 70px;
  }

  .ContactmeBlock_message {
    font-size: 25px;
    height: 250px;
  }

  .ContactmeBlock_button {
    width: 120px;
    height: 50px;
    margin-top: 30px;
    padding-top: 0px;
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .ContactmeBlock_wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 100px 0;
  }

  .ContactmeBlock_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }

  .ContactmeBlock_header_text {
    font-size: 60px;
  }

  .ContactmeBlock_header_logo {
    width: 50px;
  }

  .ContactmeBlock_picture {
    order: 1;
    width: 600px;
  }

  .ContactmeBlock_img {
    margin-top: -40px;
  }

  .ContactmeBlock_leftpill {
    width: 80px;
    top: 245px;
    left: -95px;
  }

  .ContactmeBlock_rightpill {
    width: 80px;
    top: 245px;
    right: -95px;
  }

  .ContactmeBlock_form {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 52%;
    margin-top: 0px;
  }

  .ContactmeBlock_name {
    width: 80%;
    max-width: 1000px;
    height: 80px;
    font-size: 30px;
    line-height: 44px;
    padding-left: 15px;
  }

  .ContactmeBlock_email {
    width: 80%;
    max-width: 1000px;
    height: 80px;
    font-size: 30px;
    line-height: 44px;
    padding-left: 15px;
  }

  .ContactmeBlock_message {
    width: 80%;
    max-width: 1000px;
    height: 280px;
    font-size: 30px;
    line-height: 44px;
    padding-top: 10px;
    padding-left: 15px;
  }

  .ContactmeBlock_button {
    width: 150px;
    height: 70px;
    margin-top: 30px;
    font-size: 36px;
    padding: 0 20px;
    box-shadow: 0 0 10px 2px #1cd119;
  }
}
