.contactme-block__wrapper {
  margin-top: 25px;
  overflow-x: hidden;
  padding: 100px 0;
}

.contactme-block__header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;

  color: #1cd119;
}

.contactme-block__header-text {
  margin: 0;
  letter-spacing: 4px;
}

.contactme-block__header-logo {
  margin: 3px 0px 0px 5px;
  width: 35px;
}

.contactme-block__picture {
  width: 250px;
  margin: 0 auto;
}

.contactme-block__img {
  width: 100%;
  margin-top: -20px;
}

.contactme-block__leftpill {
  position: relative;
  width: 40px;
  top: 105px;
  left: -35px;
  transition: 0.5s;
}

.contactme-block__rightpill {
  position: relative;
  width: 40px;
  top: 105px;
  right: -35px;
  transition: 0.5s;
}

.contactme-block__leftpill:hover,
.contactme-block__rightpill:hover {
  transform: scale(1.15);
}

.contactme-block__form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contactme-block__name,
.contactme-block__email,
.contactme-block__message {
  margin: 0 auto;
  box-sizing: border-box;

  width: 60%;
  min-width: 251px;
  max-width: 500px;
  padding: 15px;

  background: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0px 0px 10px 2px #1cd119;
  border-radius: 8px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #1cd119;
}

.contactme-block__name {
  height: 50px;
}

.contactme-block__email {
  height: 50px;
  margin-top: 30px;
}

.contactme-block__message {
  resize: none;
  height: 200px;
  margin-top: 30px;
}

.contactme-block__name:focus,
.contactme-block__email:focus,
.contactme-block__message:focus {
  color: #1cd119;
  text-decoration: none;
  outline: none;
}

.contactme-block__button {
  width: 90px;
  height: 45px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 0;

  color: #1cd119;
  background: #0a0a0a;
  border: 2px solid #1cd119;
  box-shadow: 0 0 5px 1px #1cd119;
  text-shadow: 0 0 5px #1cd119;
  cursor: pointer;

  font-family: "PT Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: 0.5s;
}

.contactme-block__button:hover {
  color: #0a0a0a;
  background: #1cd119;
  border: 2px solid #1cd119;
  box-shadow: none;
}

.contactme-block__button:active {
  color: #1cd119;
  background: #0a0a0a;
  text-shadow: 0 0 5px #1cd119;
  transition: 0.1s;
}

.contactme-block__button.disabled {
  background-color: #22421d;
  border-color: #22421d;
  box-shadow: none;
  text-shadow: none;
  color: #0a0a0a;
  cursor: default;
}

@media (min-width: 650px) {
  .contactme-block__header-text {
    font-size: 50px;
  }

  .contactme-block__header-logo {
    width: 40px;
  }

  .contactme-block__picture {
    width: 450px;
  }

  .contactme-block__img {
    margin-top: -40px;
  }

  .contactme-block__leftpill {
    width: 60px;
    top: 173px;
    left: -75px;
  }

  .contactme-block__rightpill {
    width: 60px;
    top: 173px;
    right: -75px;
  }

  .contactme-block__name {
    font-size: 25px;
    height: 70px;
  }

  .contactme-block__email {
    font-size: 25px;
    height: 70px;
  }

  .contactme-block__message {
    font-size: 25px;
    height: 250px;
  }

  .contactme-block__button {
    width: 120px;
    height: 60px;
    margin-top: 30px;
    padding-top: 0px;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .contactme-block__wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .contactme-block__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }

  .contactme-block__header-text {
    font-size: 55px;
  }

  .contactme-block__header-logo {
    width: 50px;
  }

  .contactme-block__picture {
    order: 1;
    width: 500px;
  }

  .contactme-block__img {
    margin-top: -40px;
    width: 500px;
  }

  .contactme-block__leftpill {
    width: 70px;
    top: 200px;
    left: -80px;
  }

  .contactme-block__rightpill {
    width: 70px;
    top: 200px;
    right: -80px;
  }

  .contactme-block__form {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 52%;
    margin-top: 0px;
  }

  .contactme-block__name,
  .contactme-block__email,
  .contactme-block__message {
    width: 80%;
    max-width: 1000px;
    height: 66px;
    font-size: 22px;
    line-height: 44px;
    padding-left: 20px;
  }

  .contactme-block__message {
    height: 250px;
    padding-top: 10px;
  }

  .contactme-block__button {
    width: 120px;
    height: 60px;
    margin-top: 30px;
    font-size: 30px;
    padding: 0 20px 0 15px;
    box-shadow: 0 0 10px 2px #1cd119;
  }
}

@media (min-width: 1280px) {
  .contactme-block__wrapper {
    max-width: 1260px;
  }

  .contactme-block__picture {
    width: 600px;
  }

  .contactme-block__img {
    margin-top: -40px;
    width: 600px;
  }

  .contactme-block__leftpill {
    width: 80px;
    top: 245px;
    left: -95px;
  }

  .contactme-block__rightpill {
    width: 80px;
    top: 245px;
    right: -95px;
  }

  .contactme-block__name,
  .contactme-block__email,
  .contactme-block__message {
    width: 80%;
    max-width: 1000px;
    height: 85px;
    font-size: 30px;
    line-height: 44px;
    padding-left: 20px;
  }

  .contactme-block__message {
    height: 300px;
    padding-top: 15px;
  }

  .contactme-block__button {
    width: 150px;
    height: 70px;
    margin-top: 30px;
    font-size: 36px;
    padding: 0 20px 0 15px;
    box-shadow: 0 0 10px 2px #1cd119;
  }
}
