.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 200vh;
  top: -50%;
  left: -50%;
  color: var(--matrixGreen);
  background: var(--darkGray);
  overflow-x: hidden;
}

.matrixConsole {
  width: 15ch;
  padding: 0 3px;
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 20px solid var(--matrixGreen);
  animation: flashing_console 0.75s step-end infinite, print_text 2.5s steps(15);
  text-shadow: 0 0 5px var(--matrixGreen);
  cursor: default;

  @media (min-width: 650px) {
    font-size: 45px;
    border-right: 30px solid var(--matrixGreen);
  }

  @media (min-width: 1280px) {
    font-size: 60px;
    border-right: 40px solid var(--matrixGreen);
  }
}

@keyframes flashing_console {
  0% {
    border-color: var(--matrixGreen);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--matrixGreen);
  }
}

@keyframes print_text {
  from {
    width: 0;
  }
}
