
.Header {
    display: flex;
    justify-content: flex-start;
}

.Header_burgerBlock{
    background-color: #ffffff;
    background-image: url("../../img/burgermenu.png");
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 5%;
}

.Header_navbar {
    display: none;
}

@media (min-width: 1440px) {
    .Header {
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        margin-right: 290px;
    
    }
    
    .Header_burgerBlock {
        display: none;
    }

    .Header_navbar {
        display: contents;
    }

    .Header_navbar_Projects {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Header_navbar_gears{
        margin-left: 5px;
    }
}