.header {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -200px;
  animation: moving_header 0.5s steps(50, end);
  animation-delay: 10.5s;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

.visible {
  top: 0;
  transition: top 0.5s ease-out;
}

.hidden {
  top: -100px;
  transition: top 0.5s ease-out;
}

.header__wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #1cd119;
  z-index: 3;
  box-shadow: 0px 0px 5px #1cd119;
  background: #0a0a0a;
  backdrop-filter: blur(3px);
}

.header__v-logo {
  margin-top: 15px;
  margin-left: 10px;
}

.header__v-logo {
  transition: 0.5s;
}

.header__logo-block:hover .header__v-logo {
  transform: scale(1.1);
}

.header__burger-block {
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
  z-index: 4;
  right: 20px;
  top: 20px;
  background-color: #0a0a0a;
}

.header__burger-block:before,
.header__burger-block:after {
  content: "";
  background-color: #1cd119;
  position: absolute;
  width: 100%;
  height: 2px;
  transition: 1s;
  left: 0;
}

.header__burger-block span {
  position: absolute;
  background-color: #1cd119;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.5s;
}

.header__burger-block:before {
  top: 0;
}

.header__burger-block:after {
  bottom: 0;
}

.header__burger-block.active:before {
  transform: rotate(45deg);
  top: 14px;
}

.header__burger-block.active:after {
  transform: rotate(-45deg);
  bottom: 14px;
}

.header__burger-block.active span {
  transform: scale(0);
}

.header__navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background-color: #0a0a0a;
  z-index: 2;
  padding-top: 100px;
  transition: 0.5s;
}

.header__navbar-glitch {
  display: flex;
  justify-content: center;
  flex-direction: row;
  transition: 0.5s;
}

.header__navbar-text {
  display: inline;
  margin: 0;
}

.header__navbar-glitch_inside {
  display: flex;
  align-items: center;
}

.header__navbar.active {
  right: 0;
  overflow: auto;
}

.header__overlay.active {
  visibility: visible;
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #000;
}

.header__navbar-navlinks {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 0 auto;
}

.header__navbar-glitch:hover {
  color: #1cd119;
  font-size: 30px;
}

.header__navbar-glitch:active {
  color: #1cd119;
  font-size: 30px;
}

.header__navbar-logo {
  width: 35px;
  margin: 2px 0 0 5px;
}

.header__overlay {
  transition: 0.5s;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
  }

  .header__wrapper {
    position: fixed;
    border: none;
    width: 100%;
    height: 80px;
    box-shadow: none;
    background: rgba(10, 10, 10, 0.5);
    justify-content: space-between;
    align-items: center;
  }

  .header__v-logo {
    width: 60px;
  }

  .header__v-logo-pic {
    margin: 10px 0 0 10px;
  }

  .header__burger-block {
    display: none;
  }

  .header__navbar {
    display: contents;
  }

  .header__navbar-navlinks {
    font-size: 25px;
    height: 50px;
  }

  .header__navbar-glitch {
    width: 210px;
  }

  .header__navbar-block {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }

  .header__navbar-logo {
    width: 35x;
    margin: 0 0 0 5px;
  }
}

@media (min-width: 1280px) {
  .header__wrapper {
    height: 100px;
  }

  .header__v-logo {
    width: 80px;
  }

  .header__v-logo-pic {
    margin: 10px 0 0 20px;
  }

  .header__navbar-glitch {
    width: 240px;
  }

  .header__navbar {
    font-size: 28px;
  }

  .header__navbar-navlinks {
    font-size: 28px;
  }

  .header__navbar-logo {
    width: 40px;
  }

  .header__navbar-glitch:hover {
    font-size: 35px;
  }

  .header__navbar-glitch:active {
    font-size: 35px;
  }
}

@keyframes moving_header {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 0px;
  }
}
