.header {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  overflow-x: hidden;
  transition: 0.35s;
}

.visible {
  top: 0;
}

.wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid var(--matrixGreen);
  z-index: 3;
  box-shadow: 0px 0px 5px var(--matrixGreen);
  background: var(--darkGray);
  backdrop-filter: blur(3px);

  @media (min-width: 1024px) {
    border: none;
    height: 80px;
    box-shadow: none;
    background: rgba(10, 10, 10, 0.5);
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1280px) {
    height: 100px;
  }
}

.vLogo {
  margin-top: 15px;
  margin-left: 10px;
  transition: 0.5s;

  @media (min-width: 1024px) {
    width: 60px;
    margin-left: 35px;
  }

  @media (min-width: 1280px) {
    width: 80px;
  }
}

.logoBlock:hover .vLogo {
  transform: scale(1.1);
}

.burger {
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
  z-index: 4;
  right: 20px;
  top: 20px;
  background-color: var(--darkGray);

  @media (min-width: 1024px) {
    display: none;
  }
}

.burger:before,
.burger:after {
  content: "";
  background-color: var(--matrixGreen);
  position: absolute;
  width: 100%;
  height: 2px;
  transition: 1s;
  left: 0;
}

.burger span {
  position: absolute;
  background-color: var(--matrixGreen);
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.5s;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger.active:before {
  transform: rotate(45deg);
  top: 14px;
}

.burger.active:after {
  transform: rotate(-45deg);
  bottom: 14px;
}

.burger.active span {
  transform: scale(0);
}

.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--darkGray);
  z-index: 2;
  padding-top: 100px;
  transition: 0.5s;

  @media (min-width: 650px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    display: contents;
  }

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  transition: 0.5s;

  @media (min-width: 1024px) {
    width: 210px;
  }

  @media (min-width: 1280px) {
    width: 240px;
  }
}

.navbarText {
  display: inline;
}

.blockWrapper {
  display: flex;
  align-items: center;
}

.navbar.active {
  right: 0;
  overflow: auto;
}

.overlay.active {
  visibility: visible;
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #000;
}

.navLinks {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  cursor: pointer;
  margin: 0 auto;

  @media (min-width: 1024px) {
    height: 50px;
  }

  @media (min-width: 1280px) {
    font-size: 28px;
  }
}

.block:hover,
.block:active {
  color: #1cd119;
  font-size: 30px;

  @media (min-width: 1280px) {
    font-size: 35px;
  }
}

.navbarBlock {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
}

.navbarLogo {
  width: 35px;
  margin: 2px 0 0 5px;

  @media (min-width: 1024px) {
    margin: 0 0 0 5px;
  }

  @media (min-width: 1280px) {
    width: 40px;
  }
}

.overlay {
  transition: 0.5s;
}
