
.Header {
    display: flex;
    justify-content: flex-start;
}

.Header_burgerBlock{
    background-color: #fff;
    background-image: url("../../img/burgermenu.png");
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

.Header_navbar {
    display: none;
}

@media (min-width: 1440px) {
    .Header {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        padding-top: 20px;
        width: 95%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .Header_wrapper{
        display: flex;
        justify-content: space-between;
        width: 35%;
        align-items: center;
        margin-right: 50px;
    }
    
    .Header_burgerBlock {
        display: none;
    }

    .Header_navbar {
        display: contents;
        font-size: 28px;
        line-height: 41px;
    }

    .Header_navbar_skills {
        text-decoration: none;
        color: #000;
    }

    .Header_navbar_projects {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #E84949;
    }

    .Header_navbar_contactme {
        text-decoration: none;
        color: #000;
    }
    
    .Header_navbar_gears{
        margin-left: 5px;
    }
}