.welcome-block {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: monospace;
  text-align: start;
}

.welcome-block__hello,
.welcome-block__name,
.welcome-block__creater_mobile1,
.welcome-block__creater_mobile2,
.welcome-block__creater_desktop,
.welcome-block__potrfolio_1,
.welcome-block__potrfolio_2 {
  padding-left: 5px;
}

.welcome-block__green-text {
  display: inline-block;
  color: var(--matrixGreen);
}

.welcome-block__hello {
  font-size: 18px;
  margin: 0;
  opacity: 0;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  width: 15ch;
  border-right: 15px solid var(--matrixGreen);
  animation: type_mobile_border15 1s steps(15, end);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.welcome-block__name {
  font-size: 23px;
  margin: 20px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  width: 23ch;
  opacity: 0;
  border-right: 15px solid var(--matrixGreen);
  animation: type_mobile_border15 1.5s steps(23, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.welcome-block__creater_mobile1 {
  font-size: 18px;
  margin: 20px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  width: 27ch;
  opacity: 0;
  border-right: 15px solid var(--matrixGreen);
  animation: type_mobile_border15 1.5s steps(27, end);
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.welcome-block__creater_mobile2 {
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 27ch;
  opacity: 0;
  border-right: 15px solid var(--matrixGreen);
  animation: type_mobile_border15 1.5s steps(27, end);
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.welcome-block__potrfolio_1 {
  font-size: 11px;
  font-weight: 600;
  margin: 20px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  width: 47ch;
  opacity: 0;
  border-right: 10px solid var(--matrixGreen);
  animation: type_mobile_border10_2ver 2s steps(47, end);
  animation-delay: 6.5s;
  animation-fill-mode: forwards;
}

.welcome-block__potrfolio_2 {
  font-size: 11px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 43ch;
  opacity: 0;
  border-right: 10px solid var(--matrixGreen);
  animation: type_mobile_border10_2ver 2s steps(43, end);
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
}

.welcome-block__console {
  background: #1cd119;
  color: #1cd119;
  animation: blink_console 0.5s step-end infinite alternate;
  animation-delay: 10.5s;
  animation-fill-mode: forwards;
  margin-left: 3px;
}

@media (min-width: 650px) {
  .welcome-block__hello {
    font-size: 35px;
    opacity: 0;
    border-right: 25px solid var(--matrixGreen);
    animation: type_desktop_border20 1s steps(15, end);
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .welcome-block__name {
    font-size: 40px;
    opacity: 0;
    border-right: 25px solid var(--matrixGreen);
    animation: type_desktop_border25 1.5s steps(23, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .welcome-block__creater_mobile1 {
    font-size: 30px;
    opacity: 0;
    border-right: 25px solid var(--matrixGreen);
    animation: type_desktop_border25 1.5s steps(27, end);
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__creater_mobile2 {
    font-size: 30px;
    opacity: 0;
    border-right: 25px solid var(--matrixGreen);
    animation: type_desktop_border25 1.5s steps(27, end);
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__potrfolio_1 {
    font-size: 17px;
    border-right: 15px solid var(--matrixGreen);
    animation: type_mobile_border15 2s steps(47, end);
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__potrfolio_2 {
    font-size: 17px;
    border-right: 15px solid var(--matrixGreen);
    animation: type_mobile_border15 2s steps(43, end);
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__console {
    animation-delay: 10.5s;
  }
}

@media (min-width: 1024px) {
  .welcome-block {
    max-width: 900px;
    align-items: flex-start;
  }

  .welcome-block__hello {
    font-size: 28px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border-right: 25px solid var(--matrixGreen);
    animation: type_desktop_border25 1s steps(15, end);
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .welcome-block__name {
    font-size: 40px;
    margin: 20px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border-right: 30px solid var(--matrixGreen);
    animation: type_desktop_border30 1.5s steps(23, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .welcome-block__creater_desktop {
    font-size: 26px;
    margin: 20px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    width: 55ch;
    opacity: 0;
    border-right: 20px solid var(--matrixGreen);
    animation: type_desktop_border25 2s steps(55, end);
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__potrfolio_1 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border-right: 20px solid var(--matrixGreen);
    animation: type_desktop_border20 2s steps(47, end);
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
  }

  .welcome-block__potrfolio_2 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 42.5ch;
    opacity: 0;
    border-right: 20px solid var(--matrixGreen);
    animation: type_desktop_border20 2s steps(43, end);
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1280px) {
  .welcome-block {
    max-width: 1100px;
  }

  .welcome-block__hello {
    font-size: 35px;
  }

  .welcome-block__name {
    font-size: 50px;
  }

  .welcome-block__creater_desktop {
    font-size: 33px;
  }

  .welcome-block__potrfolio_1 {
    font-size: 25px;
  }

  .welcome-block__potrfolio_2 {
    font-size: 25px;
  }

  .welcome-block__console {
    animation-delay: 10s;
  }
}

@keyframes type_mobile_border15 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 15px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type_mobile_border10 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 10px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type_mobile_border10_2ver {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 10px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type_desktop_border25 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 25px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type_desktop_border30 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 30px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type_desktop_border20 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 20px solid var(--matrixGreen);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink_console {
  50% {
    opacity: 0;
  }
}
