.footer {
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  color: #fff;
  overflow-x: hidden;
}

.footer__media {
  margin: 0 auto;
}

.footer__links-text {
  text-align: center;
  margin-bottom: 0px;
}

.footer__links-block {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__links-block-imgs {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  background: #fff;
}

.footer__links-block-imgs:hover {
  transform: scale(1.2);
  background: #1cd119;
}

.footer__github-block {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.footer__github-block-img {
  width: 30px;
  height: 30px;
}

.footer__github-block-text {
  margin: 0 0 0 0;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  text-decoration: none;

  color: #fffafa;
}

.footer__github-block-text-name {
  color: #1cd119;
  font-weight: 400;
  display: inline-block;
  margin-left: 3px;
}

@media (min-width: 650px) {
  .footer__links-text {
    font-size: 30px;
  }

  .footer__links-block {
    margin-top: 10px;
  }

  .footer__links-block-imgs {
    width: 40px;
    height: 40px;
    background: #fff;
  }

  .footer__github-block {
    max-width: 400px;
  }

  .footer__github-block-text {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 51px;
    padding: 50px 0px 30px 0px;
  }

  .footer__media {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 45%;
  }

  .footer__links-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }

  .footer__links-block-imgs {
    width: 60px;
    height: 60px;
  }

  .footer__links-text {
    width: 510px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 30px;
    width: 100%;
  }

  .footer__github {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .footer__github-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer__github-block-text {
    font-size: 30px;
    line-height: 51px;
    margin-left: 20px;
    margin-top: 5px;
  }

  .footer__github-block-img {
    width: 65px;
    height: 65px;
  }

  .footer__github-block-text-name {
    font-weight: 600;
  }
}

@media (min-width: 1280px) {
  .footer__links-text {
    font-size: 35px;
    text-align: center;
  }

  .footer__media {
    max-width: 550px;
  }

  .footer__github {
    max-width: 550px;
  }

  .footer__github-block-text {
    font-size: 35px;
  }
}
