body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #0a0a0a;
}

body::-webkit-scrollbar-thumb {
  background-color: #1cd119;
  border-radius: 20px;
}

body {
  background: #0a0a0a;
}
