:root {
  /* COLORS */
  --matrixGreen: #1cd119;
  --matrixGreenDisabled: #22421d;
  --matrixBlue: #2a7ede;
  --matrixRed: #e84949;
  --darkGray: #0a0a0a;
  --white: #fff;
  --text-shadow-color-1: rgba(212, 81, 25, 0.8);
  --text-shadow-color-2: rgba(25, 100, 212, 0.8);

  /* MEDIA */
  --sm: 650px;
  --md: 1024px;
  --lg: 1280px;
}
