:root {
  --matrixGreen: #1cd119;
  --matrixGreenDisabled: #22421d;
  --martixBlue: #2a7ede;
  --martixRed: #e84949;
  --darkGray: #0a0a0a;
  --white: #fff;
  --text-shadow-color-1: rgba(212, 81, 25, 0.8);
  --text-shadow-color-2: rgba(25, 100, 212, 0.8);
}
