.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin-top: 60px;
}

.tab {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 2px solid var(--matrixGreen);
  background: var(--darkGray);
  color: var(--matrixGreen);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s;

  @media (min-width: 650px) {
    font-size: 20px;
    padding: 12px 24px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
    padding: 15px 30px;
  }
}

.tab:nth-child(1) {
  border-radius: 10px 0 0 10px;
  transform: translateX(1px);
}

.tab:nth-child(1).tab_active,
.tab:nth-child(1):hover {
  background: var(--matrixRed);
  border: 2px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  color: var(--white);
  z-index: 2;
}

.tab:nth-child(1):hover,
.tab:nth-child(2):hover {
  z-index: 3;
}

.tab:nth-child(2) {
  border-radius: 0 10px 10px 0;
  transform: translateX(-1px);
}

.tab:nth-child(2).tab_active,
.tab:nth-child(2):hover {
  background: var(--matrixBlue);
  border: 2px solid var(--white);
  box-shadow: 0 0 5px 2px var(--white);
  color: var(--white);
  z-index: 2;
}
